
body{
    display: flex;
    align-items: center;
    height: 100vh;
}
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.buttons{
    margin: 20px 0px;
}
#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(14, 11, 40);
    border-radius: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 2rem;
}
#grid{
    width: 600px;
    height: 600px;  
    border: 2px solid black; 
    
}
#selectColor{
    width: 60px;
    height: 30px;
    border: 1px solid rgb(91, 88, 83); 
    box-shadow: 4px 4px 4px black;
}
.colorSquare:hover{
    background-color: rgb(38, 241, 241);    
}
.colorSquare{
    border: 1px solid rgb(233, 230, 230);
    background-color: #cecece;
}
#clear{
    background-color: wheat;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}